<div id="content" class="content-area clearfix">
	<div id="portfolio" class="portfolio-area clearfix">
	    <ul class="portfolio-list clearfix">
        {% for game in site.data.games %}
          <li class="portfolio-item">
              <div class="portfolio-content">
                    <figure class="portfolio-cover" title="{{game.name}}">
                        <a href="{{game.url}}" target="_blank">
					        <img class="portfolio-image" src="{{game.img}}" alt="">
                        </a>
				    </figure>
                    <h2 class="portfolio-title"><a href="{{game.url}}" target="_blank">{{game.name}}</a></h2>
                    <div class="portfolio-fields">
                        {{game.description}}
                    </div>
              </div>
          </li>
        {% endfor %}
	    </ul>
	</div>
</div>
