<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div>
            <a class="page-link {% if page.active == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">{% include svg-icons/home.html %}<span class="menu-text">Home</span></a>
            <a class="page-link {% if page.active == 'info' %}active{% endif %}" href="{{ site.baseurl }}/info/">{% include svg-icons/work.html %}<span class="menu-text">Info</span></a>
            <a class="page-link {% if page.active == 'sample' %}active{% endif %}" href="{{ site.baseurl }}/sample/">{% include svg-icons/play43.html %}<span class="menu-text">Sample</span></a>
            <a class="page-link {% if page.active == 'order' %}active{% endif %}" href="{{ site.baseurl }}/order/">{% include svg-icons/contact.html %}<span class="menu-text">Order</span></a>
      </div>
    </nav>

  </div>

</header>
