---
layout: default
---

<div class="content-inner">
<header class="post-header">
	<h1 class="post-title">{{ page.title }}</h1>
	</header>   
 <nav class="work-nav ghost-button-group">
        <a class="ghost-button {% if page.title == 'How It Works' %}active{% endif %}" href="{{ site.baseurl }}/how">How It Works</a>
        <a class="ghost-button {% if page.title == 'FAQs' %}active{% endif %}" href="{{ site.baseurl }}/how/faq">FAQs</a>
        <a class="ghost-button {% if page.title == 'My Money Back Guarantee' %}active{% endif %}" href="{{ site.baseurl }}/how/guarantee">Guarantee</a>
    </nav>

    <article class="post-content">
        {{ content }}
    </article>

</div>
