---
layout: default
---

<div class="content-inner">
    <nav class="work-nav ghost-button-group">
        <a class="ghost-button {% if page.title == 'Graphic Design' %}active{% endif %}" href="/work/">Graphic Design</a>
        <a class="ghost-button {% if page.title == 'Content Writing' %}active{% endif %}" href="/work/content-writing/">Content Writing</a>
        <a class="ghost-button {% if page.title == 'Game Development' %}active{% endif %}" href="/work/game-development/">Game Development</a>
    </nav>
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

</div>